<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
      <%= link_to "GymHero", root_path , class: "navbar-brand"%>
         <div class="navbar-nav">
            <% if !current_user %>
               <%= link_to "Sign Up", signup_path , class: "nav-item nav-link"%>
               <%= link_to "Log In", root_path , class: "nav-item nav-link"%>
            <% else %>
               <%= link_to "Classes", gym_classes_path , class: "nav-item nav-link"%>
               <%= link_to "Members", members_path , class: "nav-item nav-link"%>
            <% end %>

            <% if current_user %>
               <%= link_to "Log Out", logout_path, method: :delete , class: "nav-item nav-link"%>
            <% end %>
         </div>
   </div>
</nav>