<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
      <%= link_to "GymHero", root_path , class: "navbar-brand mb-0 h1"%>
         <ul class="navbar-nav ml-auto">
            <% if !current_gym %>
               <li class="nav-item">
                  <%= link_to "Sign Up", signup_path , class: "nav-link"%>
               </li>
               <li>
                  <%= link_to "Log In", login_path , class: "nav-link"%>
               </li>
            <% else %>
               <li>
                  <%= link_to "Classes", gym_classes_path , class: "nav-item nav-link"%>
               </li>
               <li>
                  <%= link_to "Members", members_path , class: "nav-item nav-link"%>
               </li>
            <% end %>

            <% if current_gym %>
            <li>
               <%= link_to "Log Out", logout_path, method: :delete , class: "nav-item nav-link"%>
            </li>
            <% end %>
         </ul>
</nav>